<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <% if current_user %>
        <div class="review-form">
          <h2>Post a review!</h2>
          <%= form_for [@product, Review.new] do |f| %>
           <%= f.select(:rating, options_for_select([['1 star', 1], ['2 stars', 2], ['3 stars'], ['4 stars'], ['5 stars']])) %>
           <%= f.text_field :description %>
           <%= f.submit %>
          <% end %>
        </div>
        <% end %>
        <br>
        <div class="review-form">
          <% @product.reviews.reverse_each do |review| %>
          <div class="review">
            <p>Posted by: <b><%= review.user.name %></b></p>
            <p>Rating: <b><%= review.rating %>/5 stars</b></p>
            <p><%= review.description %></p>
              <% if current_user %>
                <% if current_user.name == review.user.name %>
                  <%= button_to 'delete', product_review_path(@product.id, review.id), method: :delete, class: 'btn btn-xs btn-danger' %>
                </div>
                <% end %>
              <% end %>
            <br>
          <% end %>
        </div>
      </div>
    </div>

  </article>

</section>
